<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="/static/css/materialize.min.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/index_style.css">
	<title>DevOHack</title>
</head>
<body>

	<!-- NAVIGATION BAR SECTION -->

	<nav>
			<div class="nav-wrapper teal lighten-2">
			<a href="{% url 'index' %}" class="brand-logo logo"><span class="logo">DevOHack.</span></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="{% url 'index' %}">Blog</a></li>
			<li><a class='dropdown-button btn' href='#' data-beloworigin="true" data-alignment="right" data-hover='true' data-activates='dropdown1'>Categories</a></li>
				<ul id='dropdown1' class='dropdown-content'>
					{% for c in categories %}
						<li><a href="{% url 'view_category' c.slug%}">{{ c.categoryTitle }}</a></li>
					{% endfor %}
				  </ul>
			<li><a href="{% url 'view_aboutus' %}">About Us</a></li>
		  </ul>
		</div>
		</nav>


    
    <!--img class="materialboxed post_image" width="650" src="/static/images/1.jpeg"-->
      
      <!-- POST HERO SECTION -->
      <div class="parallax-container valign-wrapper">
        	<div class="container">
        		<div class="row">
        			<div class="col l7 s12 white-text center-block valign" style="background: rgba(96, 125, 139, .4); border-radius: 10px; margin-left: 200px;">
        				<h3 style="margin-left: 20px;">{{ postTitle }}</h3>
        				<h7 style="margin-left: 100px">{{ authorName }} | {{ date }}</h7>
        			</div>
        		</div>
        	</div>
      		<div class="parallax"><img src="/static/images/1.jpeg"></div>
	  </div>


	  <!-- POST CARD SECTION WITH PAGINATION INCLUDED AND RIGHT SIDE CONTAINER WITH TAGS -->

	  <div class="container">
	  	<!-- SECTION FOR THE POST CARDS -->
	  	<div class="row" style="margin-top: 20px;">
		  	<div class="col l8 s12">
				<p>{{ postContent|safe }}</p>	
		  	</div>

            
		  	<!-- SECTION FOR THE TAGS -->
		  	<div class="col l3 s12 tags-div" style="margin-left: 50px;">
		  		<h5>Tags</h5>
				<div class="divider" style="margin-bottom: 10px;"></div>
				{% for tag in tags %}
					<a href="{% url 'view_tag' tag.slug %}"><div class="chip">#{{ tag.tagTitle }}</div></a>
				{% endfor %}  
		  	</div>
	    </div>
	  </div>

	  <!-- FACEBOOK COMMENTS SECTION -->
	    <div class="container">
			<div class="row">
				<div class="col l8 s12">
					<div id="fb-root"></div>
					<script>(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s); js.id = id;
						js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=715398802181328&autoLogAppEvents=1';
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));</script>

					<div class="fb-comments" data-href="http://127.0.0.1:8000/" data-numposts="5"></div>
				</div>
			</div>
		</div>
	  <!-- PAGE FOOTER -->
	  <footer class="page-footer teal lighten-2">
	  	<div class="footer-copyright">
    			<div class="container">
    				<p>&copy; 2017 Copyright DevOHack, All Rights Reserved</p>
    				<a href="#" class="grey-text text-lighten-4 right">Privacy Policy</a>
    			</div>
    		</div>
	  </footer>

	<script src="/static/js/jquery-3.2.1.min.js"></script>
  	<script src="/static/js/materialize.min.js"></script>
	<script src="/static/js/index_scripts.js"></script>
</body>
</html>