<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="/static/css/materialize.min.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/index_style.css">
	<title>DevOHack</title>
</head>
<body>

	<!-- NAVIGATION BAR SECTION -->

	<nav>
		<div class="nav-wrapper teal lighten-2">
    	<a href="#" class="brand-logo logo"><span class="logo">DevOHack.</span></a>
    	<ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Blog</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
	</nav>


    
    <!--img class="materialboxed post_image" width="650" src="/static/images/1.jpeg"-->
      
      <!-- POST HERO SECTION -->
      <div class="parallax-container valign-wrapper">
        	<div class="container">
        		<div class="row">
        			<div class="col l7 s12 white-text center-block valign" style="background: rgba(96, 125, 139, .4); border-radius: 10px;">
        				<h3 >Here's the Title to the Blog</h3>
        				<h7 >VARSHA VERMA | 7 JANUARY, 2018</h7>
        			</div>
        		</div>
        	</div>
      		<div class="parallax"><img src="/static/images/1.jpeg"></div>
	  </div>


	  <!-- POST CARD SECTION WITH PAGINATION INCLUDED AND RIGHT SIDE CONTAINER WITH TAGS -->

	  <div class="container">
	  	<!-- SECTION FOR THE POST CARDS -->
	  	<div class="row" style="margin-top: 20px;">
		  	<div class="col l8 s12">
				<p>abdklasbvkls cbhaslvh;sahb cbsklabvcjlbsdkugvu cvasbkjvcsu cbsjakbvck cvskjvkcjabvk cvskhvckhav cshvkjcvskajv sbcdkjvb bcvj cbv cvdbskjvcksjavbkjvck
				Hip music played as we entered the beautifully renovated restaurant. We were seated at a chic table, and greeted promptly. After ordering tea, perusing the menu and asking our server a few uninspired questions, to which we received equally uninspired answers, we ordered dumplings, Korean fried chicken, and an eel dish.

				We then proceeded to have a perfectly average experience, and haven’t been back. Loyal customers play a vital role in the success of a business — this is no longer in question. The new question is, how can small businesses ensure that first-time customers become loyal customers?

				Small businesses can use these five universally applicable strategies to increase the likelihood that new customers become repeat customers.</p>	
		  	</div>

            
		  	<!-- SECTION FOR THE TAGS -->
		  	<div class="col l3 s12 tags-div" style="margin-left: 50px;">
		  		<h5>Categories</h5>
		  		<div class="divider" style="margin-bottom: 10px;"></div>
		  		<a href="#"><div class="chip">Django</div></a>
		  		<a href="#"><div class="chip">NodeJs</div></a>
		  		<a href="#"><div class="chip">PHP</div></a>
		  		<a href="#"><div class="chip">HTML</div></a>
		  		<a href="#"><div class="chip">CSS</div></a>
		  		<a href="#"><div class="chip">JavaScript</div></a>
		  		<a href="#"><div class="chip">JavaScript</div></a>
		  		<a href="#"><div class="chip">ReactJS</div></a>
		  		<a href="#"><div class="chip">JavaScript</div></a>
		  		<a href="#"><div class="chip">JavaScript</div></a>
		  	</div>
	    </div>
	  </div>


	  <!-- PAGE FOOTER -->
	  <footer class="page-footer teal lighten-2">
	  	<div class="footer-copyright">
    			<div class="container">
    				<p>&copy; 2017 Copyright DevOHack, All Rights Reserved</p>
    				<a href="#" class="grey-text text-lighten-4 right">Privacy Policy</a>
    			</div>
    		</div>
	  </footer>

	<script src="/static/js/jquery-3.2.1.min.js"></script>
  	<script src="/static/js/materialize.min.js"></script>
	<script src="/static/js/index_scripts.js"></script>
</body>
</html>